.text {
    word-wrap: break-word; /* partirse en palabras si supera el ancho del contenedor */
    overflow-wrap: break-word; /* lo mismo para navegadores más antiguos */
    max-width: 100%; 
  }

.label {
    font-weight: bold;
    color: white;
}

span {
    color: white;
}

.row {
    background-color: #457b9d;
}
  
h1 {
    font-family: fantasy;
    text-align: center;
    background-color: #f79d65;
    border: 0;
    border-radius: 5px;
    color: white;
}
  
body {
    background-color: #457b9d;
}

.datos {
  color: white;
}

button {
  background-color: #ffdac6;
}