<div class="container">
  <div class="row mt-2">
    <h4 >Detalles de {{sesion?.inicio | date:'dd/MM/yyyy HH:mm'}}</h4>
  </div>


<div class="row">
  <label class="col-lg-6">Fecha de inicio:</label>
  <span class="col-lg-6 offset-2 offset-md-0">{{sesion?.inicio | date:'dd/MM/yyyy HH:mm'}}</span>
</div>
<div class="row">
  <label class="col-lg-6">Fecha de fin:</label>
  <span class="col-lg-6 offset-2 offset-md-0">{{sesion?.fin | date:'dd/MM/yyyy HH:mm'}}</span>
</div>
<div class="row">
  <label class="col-lg-6">Trabajo realizado:</label>
  <span class="col-lg-6 offset-2 offset-md-0 text">{{sesion?.trabajoRealizado}}</span>
</div>
<div class="row">
  <label class="col-lg-6">Multimedia:</label>
  <span class="col-lg-6 offset-2 offset-md-0">{{sesion?.multimedia}}</span>
</div>
<div class="row">
  <label class="col-lg-6">Descripción:</label>
  <span class="col-lg-6 offset-2 offset-md-0 text">{{sesion?.descripcion}}</span>
</div>
<div class="row">
  <label class="col-lg-6">Presencial:</label>
  <div class="col-lg-6 offset-2 offset-md-0">
    <input type="checkbox" [ngModel]="sesion?.presencial" disabled>
  </div>
</div>
<div class="row">
  <label class="col-lg-6">Datos de salud:</label>
  <span class="col-lg-6 offset-2 offset-md-0">{{sesion?.datosSalud}}</span>
</div>


<div class="row">
  <button class="col-auto btn btn-outline-primary" (click)="eliminarSesion()">Eliminar <i class="bi bi-trash-fill"></i></button>
  <div class="col-1"></div>
  <button class="col-auto btn btn-outline-primary" (click)="editarSesion()">Editar <i class="bi bi-pencil-fill"></i></button>
</div>

</div>
