<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Lista de planes</h1>
      <div class="list-group">
        <button *ngFor="let plan of planes"
          class="list-group-item list-group-item-action"
          (click)="elegirPlan(plan)"
          [class.active]="plan === planElegido">{{plan?.fechaInicio?.toLocaleString()}} - {{plan?.fechaFin?.toLocaleString()}}</button>
      </div>
      <br>
      <div class="col-md-6" *ngIf="planElegido">
        <app-sesion [plan]="planElegido"></app-sesion>
      </div>
    </div>
  </div>
</div>