.plan {
    background-color: #026773;
    border-color: #457b9d;
    border-radius: 5px;
    margin: 5px;
}

.planes {
    text-align: center;
    background-color: #3CA6A6;
    border-radius: 5px;
}

.text {
    margin: 15px;
    color: white
}

.row {
    background-color: #F2E3D5;
    height: 100%;
}

h1 {
    font-family: fantasy;
    text-align: center;
    margin: 5px;
    border: 0;
    border-radius: 5px;
    background-color: #012E40;
    color: #F2E3D5;
}
