<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de sesiones</title>
    <link href="sesion.component.css" rel="stylesheet">
</head>
<body>
  <div class="row vh-100 m-0">
    <div class="col-md-4">
      <h1>Lista de sesiones</h1>
        <div *ngFor="let sesion of sesiones" class="sesiones">
            <button class="sesion"
                (click)="elegirSesion(sesion)"
                [class.active]="sesion === sesionElegida"><div class="text">{{sesion?.inicio | date:'dd/MM/yyyy HH:mm'}} - {{sesion?.fin | date:'dd/MM/yyyy HH:mm'}}</div></button>
      </div>
      
      <br>
      <div class="aniadir">
        <button type="button" class="btn btn-outline-light bi bi-plus-lg" (click)="aniadirSesion()"></button>
      </div>
    </div>
    
    <!-- Detalles de sesión -->
    
    <div class="col-md-8" *ngIf="sesionElegida">
        <app-detalle-sesion [sesion]="sesionElegida"
          (sesionEditada)="editarSesion($event)"
          (sesionEliminada)="eliminarSesion($event)"
          ></app-detalle-sesion>
     
    </div>
  </div>
</body>
